In [1]:
import pandas as pd
df= pd.read_csv("C:\\Users\\Hp\\Desktop\\Programs\\python_module_pandas\\src\\IMDB Top 250 Movies.csv")

In [2]:
df.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose

In [3]:
df.columns

Index(['rank', 'name', 'year', 'rating', 'genre', 'certificate', 'run_time',
       'tagline', 'budget', 'box_office', 'casts', 'directors', 'writers'],
      dtype='object')

In [4]:
df.certificate.unique()

array(['R', 'PG-13', 'Approved', 'PG', '18+', 'Not Rated', 'G', 'Passed',
       'Not Available', 'TV-PG', 'Unrated', 'X', '13+', 'TV-MA', 'GP'],
      dtype=object)

In [5]:
df['year'].unique()

array([1994, 1972, 2008, 1974, 1957, 1993, 2003, 2001, 1966, 1999, 2002,
       2010, 1980, 1990, 1975, 1995, 1954, 1946, 1991, 1998, 2014, 1997,
       1977, 1985, 1960, 2019, 2000, 2006, 1942, 1988, 1962, 2011, 1936,
       1968, 1979, 1931, 2012, 1981, 1950, 1940, 2018, 1986, 1964, 2009,
       1984, 2017, 2016, 1952, 1963, 1983, 2004, 1992, 1941, 1959, 1958,
       1971, 1944, 1987, 2022, 2020, 1973, 1927, 1976, 1989, 1948, 2007,
       1965, 2005, 1921, 2013, 1961, 2021, 1982, 1939, 2015, 1996, 1925,
       1926, 1949, 1978, 1953, 1924, 1928, 1955, 1967, 1934])

In [6]:
df.certificate.value_counts()

certificate
R                97
PG               37
PG-13            35
Not Rated        24
G                19
Passed           16
Approved         14
18+               1
Not Available     1
TV-PG             1
Unrated           1
X                 1
13+               1
TV-MA             1
GP                1
Name: count, dtype: int64

In [7]:
df.year.value_counts()

year
1995    8
2004    7
2003    6
1999    6
2019    6
       ..
1924    1
1928    1
1955    1
1967    1
1934    1
Name: count, Length: 86, dtype: int64

In [8]:
df_modified= df[[ "name", "year", "certificate", "rating"]]
df_modified

                         name  year certificate  rating
0    The Shawshank Redemption  1994           R     9.3
1               The Godfather  1972           R     9.2
2             The Dark Knight  2008       PG-13     9.0
3       The Godfather Part II  1974           R     9.0
4                12 Angry Men  1957    Approved     9.0
..                        ...   ...         ...     ...
245                  The Help  2011       PG-13     8.1
246               Dersu Uzala  1975           G     8.2
247                   Aladdin  1992           G     8.0
248                    Gandhi  1982          PG     8.0
249        Dances with Wolves  1990       PG-13     8.0

[250 rows x 4 columns]

In [9]:
df_new= df_modified[(df_modified.year>= 2002) & (df_modified.year<=2010)]
df_new

,name,year,certificate,rating
2,The Dark Knight,2008,PG-13,9.0
6,The Lord of the Rings: The Return of the King,2003,PG-13,9.0
12,The Lord of the Rings: The Two Towers,2002,PG-13,8.8
13,Inception,2010,PG-13,8.8
22,City of God,2002,R,8.6
31,The Pianist,2002,R,8.5
38,The Departed,2006,R,8.5
40,The Prestige,2006,PG-13,8.5
56,WALL·E,2008,G,8.4
57,The Lives of Others,2006,R,8.4
69,Oldboy,2003,R,8.4
70,Inglourious Basterds,2009,R,8.3
82,3 Idiots,2009,PG-13,8.4
85,Toy Story 3,2010,G,8.3
89,Eternal Sunshine of the Spotless Mind,2004,R,8.3
108,Incendies,2010,R,8.3
112,Up,2009,PG,8.3
121,Like Stars on Earth,2007,PG,8.3
123,Downfall,2004,R,8.2
126,Batman Begins,2005,PG-13,8.2
136,Pan's Labyrinth,2006,R,8.2
138,There Will Be Blood,2007,R,8.2
141,Shutter Island,2010,R,8.2
148,No Country for Old Men,2007,R,8.2
150,Kill Bill: Vol. 1,2003,R,8.2
153,Finding Nemo,2003,G,8.2
157,V for Vendetta,2005,R,8.2
162,The Secret in Their Eyes,2009,R,8.2
163,Howl's Moving Castle,2004,PG,8.2
170,Gran Torino,2008,R,8.1
172,Catch Me If You Can,2002,PG-13,8.1
173,Million Dollar Baby,2004,PG-13,8.1
193,Memories of Murder,2003,Not Rated,8.1
199,Mary and Max,2009,Not Rated,8.1
200,How to Train Your Dragon,2010,PG,8.1
208,Hotel Rwanda,2004,PG-13,8.1
212,Ratatouille,2007,G,8.1
219,Into the Wild,2007,R,8.1
220,Before Sunset,2004,R,8.1
226,The Incredibles,2004,PG,8.0
230,Pirates of the Caribbean: The Curse of the Bla...,2003,PG-13,8.1
231,Hachi: A Dog's Tale,2009,G,8.1
234,My Father and My Son,2005,Not Rated,8.2

In [10]:
df_new[df_new.certificate== 'R']

                                      name  year certificate  rating
22                             City of God  2002           R     8.6
31                             The Pianist  2002           R     8.5
38                            The Departed  2006           R     8.5
57                     The Lives of Others  2006           R     8.4
69                                  Oldboy  2003           R     8.4
70                    Inglourious Basterds  2009           R     8.3
89   Eternal Sunshine of the Spotless Mind  2004           R     8.3
108                              Incendies  2010           R     8.3
123                               Downfall  2004           R     8.2
136                        Pan's Labyrinth  2006           R     8.2
138                    There Will Be Blood  2007           R     8.2
141                         Shutter Island  2010           R     8.2
148                 No Country for Old Men  2007           R     8.2
150                      Kill Bill: Vol. 1  2003           R     8.2
157                         V for Vendetta  2005           R     8.2
162               The Secret in Their Eyes  2009           R     8.2
170                            Gran Torino  2008           R     8.1
219                          Into the Wild  2007           R     8.1
220                          Before Sunset  2004           R     8.1

In [11]:
df_new.describe()

              year     rating
count    43.000000  43.000000
mean   2005.953488   8.295349
std       2.672198   0.239994
min    2002.000000   8.000000
25%    2004.000000   8.100000
50%    2006.000000   8.200000
75%    2008.500000   8.400000
max    2010.000000   9.000000

In [12]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43 entries, 2 to 234
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         43 non-null     object
 1   year         43 non-null     int64
 2   certificate  43 non-null     object
 3   rating       43 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [13]:
df_new[(df_new.rating>8.5) & (df_new.rating<9)]

                                     name  year certificate  rating
12  The Lord of the Rings: The Two Towers  2002       PG-13     8.8
13                              Inception  2010       PG-13     8.8
22                            City of God  2002           R     8.6

In [14]:
float(df_new.rating.max())

9.0

In [15]:
df_new[df_new.rating== df_new.rating.max()]

                                            name  year certificate  rating
2                                The Dark Knight  2008       PG-13     9.0
6  The Lord of the Rings: The Return of the King  2003       PG-13     9.0

In [16]:
df_new[(df_new.rating == df_new.rating.max()) | (df_new.rating == df_new.rating.min())]

                                              name  year certificate  rating
2                                  The Dark Knight  2008       PG-13     9.0
6    The Lord of the Rings: The Return of the King  2003       PG-13     9.0
226                                The Incredibles  2004          PG     8.0

In [17]:
df['age']= df.year.apply( lambda x: 2025 - x)
df.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers,age
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont",31
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola",53
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer",17
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo",51
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose,68

In [18]:
df_copy= df_new.copy()
df_copy["age"]= df_copy["year"].apply( lambda x: 2025 - x)
df_copy.head()

,name,year,certificate,rating,age
2,The Dark Knight,2008,PG-13,9.0,17
6,The Lord of the Rings: The Return of the King,2003,PG-13,9.0,22
12,The Lord of the Rings: The Two Towers,2002,PG-13,8.8,23
13,Inception,2010,PG-13,8.8,15
22,City of God,2002,R,8.6,23

In [19]:
# Replace non-numeric values with NaN
df['box_office']= pd.to_numeric(df['box_office'], errors='coerce')
df['budget']= pd.to_numeric(df['budget'], errors= 'coerce')

# Fill NaN values if needed (e.g., with 0)
df['box_office'] = df['box_office'].fillna(0).astype(int)
df['budget']= df['budget'].fillna(0).astype(int)

# If you prefer to keep NaNs, use Pandas' nullable integer type
df['box_office'] = df['box_office'].astype(pd.Int64Dtype())
df['budget']= df['budget'].astype(pd.Int64Dtype())

In [20]:
df['profit']= df.apply(lambda x: x['box_office'] - x['budget'], axis= 1)
df.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers,age,profit
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont",31,3884504
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola",53,244341816
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer",17,821234167
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo",51,34961919
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose,68,-349045

In [21]:
df.index

RangeIndex(start=0, stop=250, step=1)

### This will remove all rows where 'name' has null values
df = df.dropna(subset=['name'])
df.index

In [22]:
df.set_index("name", inplace= True)
df.head(3)

,rank,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers,age,profit
name,,,,,,,,,,,,,,
The Shawshank Redemption,1,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont",31,3884504
The Godfather,2,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola",53,244341816
The Dark Knight,3,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer",17,821234167

In [23]:
df.index

Index(['The Shawshank Redemption', 'The Godfather', 'The Dark Knight',
       'The Godfather Part II', '12 Angry Men', 'Schindler's List',
       'The Lord of the Rings: The Return of the King', 'Pulp Fiction',
       'The Lord of the Rings: The Fellowship of the Ring',
       'The Good, the Bad and the Ugly',
       ...
       'The Sound of Music', 'It Happened One Night', 'Persona',
       'Life of Brian', 'The Iron Giant', 'The Help', 'Dersu Uzala', 'Aladdin',
       'Gandhi', 'Dances with Wolves'],
      dtype='object', name='name', length=250)

In [24]:
df.loc['The Dark Knight']

rank                                                           3
year                                                        2008
rating                                                       9.0
genre                                         Action,Crime,Drama
certificate                                                PG-13
run_time                                                  2h 32m
tagline                                          Why So Serious?
budget                                                 185000000
box_office                                            1006234167
casts          Christian Bale,Heath Ledger,Aaron Eckhart,Mich...
directors                                      Christopher Nolan
writers          Jonathan Nolan,Christopher Nolan,David S. Goyer
age                                                           17
profit                                                 821234167
Name: The Dark Knight, dtype: object

In [25]:
df.loc[['The Dark Knight','The Godfather Part II']]

,rank,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers,age,profit
name,,,,,,,,,,,,,,
The Dark Knight,3,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer",17,821234167
The Godfather Part II,4,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo",51,34961919

In [26]:
df.iloc[0]

rank                                                           1
year                                                        1994
rating                                                       9.3
genre                                                      Drama
certificate                                                    R
run_time                                                  2h 22m
tagline        Fear can hold you prisoner. Hope can set you f...
budget                                                  25000000
box_office                                              28884504
casts          Tim Robbins,Morgan Freeman,Bob Gunton,William ...
directors                                         Frank Darabont
writers                              Stephen King,Frank Darabont
age                                                           31
profit                                                   3884504
Name: The Shawshank Redemption, dtype: object

In [27]:
df.iloc[2:6]

,rank,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers,age,profit
name,,,,,,,,,,,,,,
The Dark Knight,3,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer",17,821234167
The Godfather Part II,4,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo",51,34961919
12 Angry Men,5,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose,68,-349045
Schindler's List,6,1993,9.0,"Biography,Drama,History",R,3h 15m,"Whoever saves one life, saves the world entire.",22000000,322161245,"Liam Neeson,Ralph Fiennes,Ben Kingsley,Carolin...",Steven Spielberg,"Thomas Keneally,Steven Zaillian",32,300161245

In [28]:
df.reset_index(inplace= True)
df.head(4)

,name,rank,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers,age,profit
0,The Shawshank Redemption,1,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont",31,3884504
1,The Godfather,2,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola",53,244341816
2,The Dark Knight,3,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer",17,821234167
3,The Godfather Part II,4,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo",51,34961919