In [1]:
import pandas as pd
df= pd.read_csv("C:\\Users\\Hp\\Desktop\\Programs\\python_module_pandas\\src\\IMDB Top 250 Movies.csv")

In [2]:
df.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose

In [3]:
df.columns

Index(['rank', 'name', 'year', 'rating', 'genre', 'certificate', 'run_time',
       'tagline', 'budget', 'box_office', 'casts', 'directors', 'writers'],
      dtype='object')

In [4]:
df.certificate.unique()

array(['R', 'PG-13', 'Approved', 'PG', '18+', 'Not Rated', 'G', 'Passed',
       'Not Available', 'TV-PG', 'Unrated', 'X', '13+', 'TV-MA', 'GP'],
      dtype=object)

In [5]:
df['year'].unique()

array([1994, 1972, 2008, 1974, 1957, 1993, 2003, 2001, 1966, 1999, 2002,
       2010, 1980, 1990, 1975, 1995, 1954, 1946, 1991, 1998, 2014, 1997,
       1977, 1985, 1960, 2019, 2000, 2006, 1942, 1988, 1962, 2011, 1936,
       1968, 1979, 1931, 2012, 1981, 1950, 1940, 2018, 1986, 1964, 2009,
       1984, 2017, 2016, 1952, 1963, 1983, 2004, 1992, 1941, 1959, 1958,
       1971, 1944, 1987, 2022, 2020, 1973, 1927, 1976, 1989, 1948, 2007,
       1965, 2005, 1921, 2013, 1961, 2021, 1982, 1939, 2015, 1996, 1925,
       1926, 1949, 1978, 1953, 1924, 1928, 1955, 1967, 1934])

In [6]:
df.certificate.value_counts()

certificate
R                97
PG               37
PG-13            35
Not Rated        24
G                19
Passed           16
Approved         14
18+               1
Not Available     1
TV-PG             1
Unrated           1
X                 1
13+               1
TV-MA             1
GP                1
Name: count, dtype: int64

In [8]:
df.year.value_counts()

year
1995    8
2004    7
2003    6
1999    6
2019    6
       ..
1924    1
1928    1
1955    1
1967    1
1934    1
Name: count, Length: 86, dtype: int64