In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("C:\\Users\\Hp\\Desktop\\Study ITM\\Semester 2\\Applied Machine Learning\\Datasets\\london_weather.csv",
               parse_dates= ['date'])
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,1979-01-03,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,1979-01-04,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

In [3]:
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [4]:
df.set_index('date', inplace= True)
df.head(4)

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
1979-01-03,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
1979-01-04,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0

In [5]:
na_count_per_column = df.isna().sum()
na_count_per_column

cloud_cover           19
sunshine               0
global_radiation      19
max_temp               6
mean_temp             36
min_temp               2
precipitation          6
pressure               4
snow_depth          1441
dtype: int64

df.fillna(method= "ffill")  
df.fillna(method= "bfill")  
df.fillna(method= "bfill", axis= "columns")  
df.fillna(method= "ffill", limit= 1)  
df.interpolate()

In [6]:
df.fillna({
    "cloud_cover": df.cloud_cover.median(),
    "global_radiation": df.global_radiation.median(),
    'max_temp': df.max_temp.median(),
    "mean_temp": df.mean_temp.mean(),
    'min_temp': df.min_temp.median(),
    "precipitation": df.precipitation.median(),
    "pressure": df.pressure.median(),
    "snow_depth":0
}, inplace= True)
df.head(6)

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
1979-01-03,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
1979-01-04,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
1979-01-06,5.0,3.8,39.0,8.3,-0.5,-6.6,0.7,102780.0,1.0

df.dropna()  
df.dropna(how= 'any')  
df.dropna(how= 'all') # all data value in row has NA value then drop the row
df.dropna(thresh= 2)  # atleast 2 non-NA value in row for not dropping the row

In [7]:
df_replaced= df.replace(0,-1) 
df_replaced.head(10)

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,-1.0,102530.0,8.0
1979-01-03,5.0,-1.0,13.0,1.3,-2.8,-7.2,-1.0,102050.0,4.0
1979-01-04,8.0,-1.0,13.0,-0.3,-2.6,-6.5,-1.0,100840.0,2.0
1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,-1.0,102250.0,1.0
1979-01-06,5.0,3.8,39.0,8.3,-0.5,-6.6,0.7,102780.0,1.0
1979-01-07,8.0,-1.0,13.0,8.5,1.5,-5.3,5.2,102520.0,-1.0
1979-01-08,8.0,0.1,15.0,5.8,6.9,5.3,0.8,101870.0,-1.0
1979-01-09,4.0,5.8,50.0,5.2,3.7,1.6,7.2,101170.0,-1.0
1979-01-10,7.0,1.9,30.0,4.9,3.3,1.4,2.1,98700.0,-1.0

In [8]:
import numpy as np
df.replace( to_replace= [ 0, -1.1], value= np.nan).head(10)

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,NaN,102530.0,8.0
1979-01-03,5.0,NaN,13.0,1.3,-2.8,-7.2,NaN,102050.0,4.0
1979-01-04,8.0,NaN,13.0,-0.3,-2.6,-6.5,NaN,100840.0,2.0
1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,NaN,102250.0,1.0
1979-01-06,5.0,3.8,39.0,8.3,-0.5,-6.6,0.7,102780.0,1.0
1979-01-07,8.0,NaN,13.0,8.5,1.5,-5.3,5.2,102520.0,NaN
1979-01-08,8.0,0.1,15.0,5.8,6.9,5.3,0.8,101870.0,NaN
1979-01-09,4.0,5.8,50.0,5.2,3.7,1.6,7.2,101170.0,NaN
1979-01-10,7.0,1.9,30.0,4.9,3.3,1.4,2.1,98700.0,NaN

In [9]:
df.replace({
    'sunshine': 0.0,
    'precipitation': 0.0,
    'snow_dept': 0.0,
    'min_temp': [ -0.1, 1.1]
}, np.nan).head(10)

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,NaN,102530.0,8.0
1979-01-03,5.0,NaN,13.0,1.3,-2.8,-7.2,NaN,102050.0,4.0
1979-01-04,8.0,NaN,13.0,-0.3,-2.6,-6.5,NaN,100840.0,2.0
1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,NaN,102250.0,1.0
1979-01-06,5.0,3.8,39.0,8.3,-0.5,-6.6,0.7,102780.0,1.0
1979-01-07,8.0,NaN,13.0,8.5,1.5,-5.3,5.2,102520.0,0.0
1979-01-08,8.0,0.1,15.0,5.8,6.9,5.3,0.8,101870.0,0.0
1979-01-09,4.0,5.8,50.0,5.2,3.7,1.6,7.2,101170.0,0.0
1979-01-10,7.0,1.9,30.0,4.9,3.3,1.4,2.1,98700.0,0.0

In [10]:
df.replace({
    0.0: np.nan,
    -7.5: 'cold'
}).head()

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,cold,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,cold,NaN,102530.0,8.0
1979-01-03,5.0,NaN,13.0,1.3,-2.8,-7.2,NaN,102050.0,4.0
1979-01-04,8.0,NaN,13.0,-0.3,-2.6,-6.5,NaN,100840.0,2.0
1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,NaN,102250.0,1.0

In [11]:
df_next= pd.DataFrame({
    "grade": [ 'A', 'B', 'D', 'B', 'A', 'B'],
    "student": [ "Ram", "Hari", "Jagganath", "Mahesh", "Juli", "Rupa"]
})
df_next

  grade    student
0     A        Ram
1     B       Hari
2     D  Jagganath
3     B     Mahesh
4     A       Juli
5     B       Rupa

In [12]:
df_next.replace( [ "B", "D"], [ "Average", "Satisfactory"])

          grade    student
0             A        Ram
1       Average       Hari
2  Satisfactory  Jagganath
3       Average     Mahesh
4             A       Juli
5       Average       Rupa