In [1]:
import pandas as pd
df= pd.read_csv("C:\\Users\\Hp\\Desktop\\Study ITM\\Semester 2\\Applied Machine Learning\\Datasets\\test_batsman.csv")
df.head()

,Player,Year,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,VK,2011,5,9,0,202,63,22.44,473,42.70,0,2,2,15,2
1,VK,2012,9,16,2,689,116,49.21,1474,46.74,3,3,0,89,2
2,VK,2013,8,12,1,616,119,56.00,1127,54.65,2,3,0,73,2
3,VK,2014,10,20,1,847,169,44.57,1399,60.54,4,2,2,101,2
4,VK,2015,9,15,0,640,147,42.66,1184,54.05,2,2,0,74,1

In [2]:
a_grp= df.groupby('Player')
total_runs= a_grp["Runs"].sum()
total_runs

Player
JR    12972
KW     9276
SS    10140
VK     9230
Name: Runs, dtype: int64

In [3]:
for Player, Stats in a_grp:
    print(Stats)

   Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
15     JR  2012    1     2   1    93    73  93.00   285  32.63    0   1  0
16     JR  2013   14    27   2   862   180  34.48  2121  40.64    2   3  1
17     JR  2014    7    11   3   777  200*  97.12  1339  58.02    3   3  0
18     JR  2015   14    26   3  1385  182*  60.21  2174  63.70    3  10  1
19     JR  2016   17    32   2  1477   254  49.23  2433  60.70    3  10  1
20     JR  2017   11    19   0   966   190  50.84  1563  61.80    2   8  0
21     JR  2018   13    24   1   948   125  41.21  1782  53.19    2   6  2
22     JR  2019   12    23   0   851   226  37.00  1837  46.32    2   4  3
23     JR  2020    8    13   2   464   68*  42.18   822  56.44    0   4  0
24     JR  2021   15    29   1  1708   228  61.00  3004  56.85    6   4  1
25     JR  2022   15    27   3  1098   176  45.75  1722  63.76    5   2  3
26     JR  2023    8    14   2   787  153*  65.58  1031  76.33    2   5  0
27     JR  2024   17    31   3  1556   262  55.57  2455  63.38    6   5  1

     4s  6s
15    5   1
16   94   2
17   80   1
18  158  10
19  170   1
20  138   1
21   92   3
22   92   1
23   49   2
24  179   3
25  122   3
26   68  15
27  147   2
   Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
28     KW  2010    3     5   0   212   131  42.40   485  43.71    1   1  1
29     KW  2011    5    10   0   276    68  27.60   569  48.50    0   2  1
30     KW  2012   10    18   1   559   135  32.88  1474  37.92    2   2  3
31     KW  2013   11    19   1   747   114  41.50  1731  43.15    1   7  0
32     KW  2014    9    17   2   929   192  61.93  1838  50.54    4   2  0
33     KW  2015    8    16   3  1172  242*  90.15  1955  59.94    5   4  1
34     KW  2016   10    18   2   753   113  47.06  1410  53.40    1   6  0
35     KW  2017    7    10   1   566   176  62.88   859  65.89    3   2  0
36     KW  2018    7    12   1   651   139  59.18  1195  54.47    2   3  1
37     KW  2019    8    12   2   514  200*  51.40   858  59.90    2   2  2
38     KW  2020    4     6   0   498   251  83.00   911  54.66    2   1  0
39     KW  2021    4     7   1   395   238  65.83   858  46.03    1   1  0
40     KW  2022    3     5   1   296  200*  74.00   630  46.98    1   0  0
41     KW  2023    7    13   1   695   215  57.91  1279  54.33    4   0  1
42     KW  2024    9    18   1  1013   156  59.58  1861  54.43    4   4  1

     4s  6s
28   19   0
29   32   1
30   51   0
31   86   2
32  102   3
33  136   1
34   77   2
35   70   3
36   61   1
37   60   1
38   60   3
39   49   0
40   36   1
41   75   3
42  117   6
   Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
43     SS  2010    4     8   0   187    77  23.37   313  59.74    0   1  0
44     SS  2011    1     2   1    72   54*  72.00   143  50.34    0   1  0
45     SS  2012   11    21   2   711  138*  37.42  1550  45.87    2   3  1
46     SS  2013    9    17   3  1146   192  81.85  1913  59.90    5   4  2
47     SS  2014   13    24   4  1474   215  73.70  2374  62.08    6   5  0
48     SS  2015   11    18   3  1079  165*  71.93  1837  58.73    4   5  1
49     SS  2016   11    20   3  1305   239  76.76  2573  50.71    6   3  0
50     SS  2017    4     7   0   225    83  32.14   468  48.07    0   2  0
51     SS  2018    8    13   0   965   211  74.23  1715  56.26    3   4  0
52     SS  2019    3     5   1    73    63  18.25   250  29.20    0   1  1
53     SS  2020    5     8   0   430   131  53.75   826  52.05    1   3  0
54     SS  2021   11    18   3   876  200*  58.40  1747  50.14    2   5  3
55     SS  2022   13    24   2   929   121  42.22  1981  46.89    3   3  1
56     SS  2023    9    17   3   490   140  35.00   915  53.55    2   1  2
57     SS  2024    2     3   0   178   141  59.33   317  56.15    1   0  0

     4s  6s
43   20   2
44    7   0
45   74  10
46  131   8
47  167   7
48  121   5
49  140   2
50   24   2
51  111   6
52    4   0
53   52   2
54   80   3
55  107   6
56   52   4
57   16   3
   Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
0      VK  2011    5     9   0   202    63  22.44   473  42.70    0   2  2
1      VK  2012    9    16   2   689   116  49.21  1474  46.74    3   3  0
2      VK  2013    8    12   1   616   119  56.00  1127  54.65    2   3  0
3      VK  2014   10    20   1   847   169  44.57  1399  60.54    4   2  2
4      VK  2015    9    15   0   640   147  42.66  1184  54.05    2   2  0
5      VK  2016   12    18   2  1215   235  75.93  2011  60.41    4   2  0
6      VK  2017   10    16   2  1059   243  75.64  1389  76.24    5   1  2
7      VK  2018   13    24   0  1322   153  55.08  2433  54.33    5   5  2
8      VK  2019    8    11   2   612  254*  68.00   967  63.28    2   2  2
9      VK  2020    3     6   0   116    74  19.33   283  40.98    0   1  0
10     VK  2021   11    19   0   536    72  28.21  1216  44.07    0   4  4
11     VK  2022    6    11   1   265    79  26.50   672  39.43    0   1  0
12     VK  2023    8    12   0   671   186  55.91  1226  54.73    2   2  0
13     VK  2024   10    19   2   417  100*  24.52   673  61.96    1   1  1
14     VK  2025    1     2   0    23    17  11.50    81  28.39    0   0  0

     4s  6s
0    15   2
1    89   2
2    73   2
3   101   2
4    74   1
5   134   2
6    97   6
7   144   2
8    78   3
9    15   0
10   60   1
11   33   1
12   70   1
13   43   5
14    1   0

In [4]:
for Player, Stats in a_grp:
    print(f"Player: {Player}, Maximum runs in one inning: {Stats.Runs.max()}, Maximum Average: {Stats.Ave.max()}")

Player: JR, Maximum runs in one inning: 1708, Maximum Average: 97.12
Player: KW, Maximum runs in one inning: 1172, Maximum Average: 90.15
Player: SS, Maximum runs in one inning: 1474, Maximum Average: 81.85
Player: VK, Maximum runs in one inning: 1322, Maximum Average: 75.93

In [5]:
for Player, Stats in a_grp:
    print(f"{Player}\n")
    for index, row in Stats.iterrows():
        print(f"Year: {row['Year']}\t Total_innings: {row['Inns']}\t Runs: {row['Runs']}\t Average: {row['Ave']}")

JR

Year: 2012	 Total_innings: 2	 Runs: 93	 Average: 93.0
Year: 2013	 Total_innings: 27	 Runs: 862	 Average: 34.48
Year: 2014	 Total_innings: 11	 Runs: 777	 Average: 97.12
Year: 2015	 Total_innings: 26	 Runs: 1385	 Average: 60.21
Year: 2016	 Total_innings: 32	 Runs: 1477	 Average: 49.23
Year: 2017	 Total_innings: 19	 Runs: 966	 Average: 50.84
Year: 2018	 Total_innings: 24	 Runs: 948	 Average: 41.21
Year: 2019	 Total_innings: 23	 Runs: 851	 Average: 37.0
Year: 2020	 Total_innings: 13	 Runs: 464	 Average: 42.18
Year: 2021	 Total_innings: 29	 Runs: 1708	 Average: 61.0
Year: 2022	 Total_innings: 27	 Runs: 1098	 Average: 45.75
Year: 2023	 Total_innings: 14	 Runs: 787	 Average: 65.58
Year: 2024	 Total_innings: 31	 Runs: 1556	 Average: 55.57
KW

Year: 2010	 Total_innings: 5	 Runs: 212	 Average: 42.4
Year: 2011	 Total_innings: 10	 Runs: 276	 Average: 27.6
Year: 2012	 Total_innings: 18	 Runs: 559	 Average: 32.88
Year: 2013	 Total_innings: 19	 Runs: 747	 Average: 41.5
Year: 2014	 Total_innings: 17	 Runs: 929	 Average: 61.93
Year: 2015	 Total_innings: 16	 Runs: 1172	 Average: 90.15
Year: 2016	 Total_innings: 18	 Runs: 753	 Average: 47.06
Year: 2017	 Total_innings: 10	 Runs: 566	 Average: 62.88
Year: 2018	 Total_innings: 12	 Runs: 651	 Average: 59.18
Year: 2019	 Total_innings: 12	 Runs: 514	 Average: 51.4
Year: 2020	 Total_innings: 6	 Runs: 498	 Average: 83.0
Year: 2021	 Total_innings: 7	 Runs: 395	 Average: 65.83
Year: 2022	 Total_innings: 5	 Runs: 296	 Average: 74.0
Year: 2023	 Total_innings: 13	 Runs: 695	 Average: 57.91
Year: 2024	 Total_innings: 18	 Runs: 1013	 Average: 59.58
SS

Year: 2010	 Total_innings: 8	 Runs: 187	 Average: 23.37
Year: 2011	 Total_innings: 2	 Runs: 72	 Average: 72.0
Year: 2012	 Total_innings: 21	 Runs: 711	 Average: 37.42
Year: 2013	 Total_innings: 17	 Runs: 1146	 Average: 81.85
Year: 2014	 Total_innings: 24	 Runs: 1474	 Average: 73.7
Year: 2015	 Total_innings: 18	 Runs: 1079	 Average: 71.93
Year: 2016	 Total_innings: 20	 Runs: 1305	 Average: 76.76
Year: 2017	 Total_innings: 7	 Runs: 225	 Average: 32.14
Year: 2018	 Total_innings: 13	 Runs: 965	 Average: 74.23
Year: 2019	 Total_innings: 5	 Runs: 73	 Average: 18.25
Year: 2020	 Total_innings: 8	 Runs: 430	 Average: 53.75
Year: 2021	 Total_innings: 18	 Runs: 876	 Average: 58.4
Year: 2022	 Total_innings: 24	 Runs: 929	 Average: 42.22
Year: 2023	 Total_innings: 17	 Runs: 490	 Average: 35.0
Year: 2024	 Total_innings: 3	 Runs: 178	 Average: 59.33
VK

Year: 2011	 Total_innings: 9	 Runs: 202	 Average: 22.44
Year: 2012	 Total_innings: 16	 Runs: 689	 Average: 49.21
Year: 2013	 Total_innings: 12	 Runs: 616	 Average: 56.0
Year: 2014	 Total_innings: 20	 Runs: 847	 Average: 44.57
Year: 2015	 Total_innings: 15	 Runs: 640	 Average: 42.66
Year: 2016	 Total_innings: 18	 Runs: 1215	 Average: 75.93
Year: 2017	 Total_innings: 16	 Runs: 1059	 Average: 75.64
Year: 2018	 Total_innings: 24	 Runs: 1322	 Average: 55.08
Year: 2019	 Total_innings: 11	 Runs: 612	 Average: 68.0
Year: 2020	 Total_innings: 6	 Runs: 116	 Average: 19.33
Year: 2021	 Total_innings: 19	 Runs: 536	 Average: 28.21
Year: 2022	 Total_innings: 11	 Runs: 265	 Average: 26.5
Year: 2023	 Total_innings: 12	 Runs: 671	 Average: 55.91
Year: 2024	 Total_innings: 19	 Runs: 417	 Average: 24.52
Year: 2025	 Total_innings: 2	 Runs: 23	 Average: 11.5

In [6]:
a_grp.get_group("VK")

,Player,Year,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,VK,2011,5,9,0,202,63,22.44,473,42.70,0,2,2,15,2
1,VK,2012,9,16,2,689,116,49.21,1474,46.74,3,3,0,89,2
2,VK,2013,8,12,1,616,119,56.00,1127,54.65,2,3,0,73,2
3,VK,2014,10,20,1,847,169,44.57,1399,60.54,4,2,2,101,2
4,VK,2015,9,15,0,640,147,42.66,1184,54.05,2,2,0,74,1
5,VK,2016,12,18,2,1215,235,75.93,2011,60.41,4,2,0,134,2
6,VK,2017,10,16,2,1059,243,75.64,1389,76.24,5,1,2,97,6
7,VK,2018,13,24,0,1322,153,55.08,2433,54.33,5,5,2,144,2
8,VK,2019,8,11,2,612,254*,68.00,967,63.28,2,2,2,78,3
9,VK,2020,3,6,0,116,74,19.33,283,40.98,0,1,0,15,0
10,VK,2021,11,19,0,536,72,28.21,1216,44.07,0,4,4,60,1
11,VK,2022,6,11,1,265,79,26.50,672,39.43,0,1,0,33,1
12,VK,2023,8,12,0,671,186,55.91,1226,54.73,2,2,0,70,1
13,VK,2024,10,19,2,417,100*,24.52,673,61.96,1,1,1,43,5
14,VK,2025,1,2,0,23,17,11.50,81,28.39,0,0,0,1,0

In [7]:
a_grp.max()

        Year  Mat  Inns  NO  Runs  HS    Ave    BF     SR  100  50  0   4s  6s
Player
JR      2024   17    32   3  1708  73  97.12  3004  76.33    6  10  3  179  15
KW      2024   11    19   3  1172  68  90.15  1955  65.89    5   7  3  136   6
SS      2024   13    24   4  1474  83  81.85  2573  62.08    6   5  3  167  10
VK      2025   13    24   2  1322  79  75.93  2433  76.24    5   5  4  144   6

In [8]:
a_grp.Runs.mean()

Player
JR    997.846154
KW    618.400000
SS    676.000000
VK    615.333333
Name: Runs, dtype: float64

In [9]:
a_grp['Runs'].describe()

        count        mean         std    min    25%    50%     75%     max
Player
JR       13.0  997.846154  451.464810   93.0  787.0  948.0  1385.0  1708.0
KW       15.0  618.400000  276.219064  212.0  446.5  566.0   750.0  1172.0
SS       15.0  676.000000  471.969430   72.0  206.0  711.0  1022.0  1474.0
VK       15.0  615.333333  383.408895   23.0  341.0  616.0   768.0  1322.0

In [10]:
a_grp.agg({'Runs': 'describe', 'Ave': 'describe'})

        Runs                                                               \
       count        mean         std    min    25%    50%     75%     max
Player
JR      13.0  997.846154  451.464810   93.0  787.0  948.0  1385.0  1708.0
KW      15.0  618.400000  276.219064  212.0  446.5  566.0   750.0  1172.0
SS      15.0  676.000000  471.969430   72.0  206.0  711.0  1022.0  1474.0
VK      15.0  615.333333  383.408895   23.0  341.0  616.0   768.0  1322.0

         Ave
       count       mean        std    min    25%    50%     75%    max
Player
JR      13.0  56.397692  19.587095  34.48  42.18  50.84  61.000  97.12
KW      15.0  57.153333  17.407640  27.60  44.73  59.18  64.355  90.15
SS      15.0  54.023333  21.134053  18.25  36.21  58.40  72.850  81.85
VK      15.0  43.700000  20.870144  11.50  25.51  44.57  55.955  75.93

In [11]:
a_grp_1= a_grp[['Inns','Runs']]
a_grp_1.describe()

        Inns                                                    Runs  \
       count       mean       std  min   25%   50%   75%   max count
Player
JR      13.0  21.384615  8.995725  2.0  14.0  24.0  27.0  32.0  13.0
KW      15.0  12.400000  5.096217  5.0   8.5  12.0  17.5  19.0  15.0
SS      15.0  13.666667  7.565586  2.0   7.5  17.0  19.0  24.0  15.0
VK      15.0  14.000000  5.794086  2.0  11.0  15.0  18.5  24.0  15.0


              mean         std    min    25%    50%     75%     max
Player
JR      997.846154  451.464810   93.0  787.0  948.0  1385.0  1708.0
KW      618.400000  276.219064  212.0  446.5  566.0   750.0  1172.0
SS      676.000000  471.969430   72.0  206.0  711.0  1022.0  1474.0
VK      615.333333  383.408895   23.0  341.0  616.0   768.0  1322.0

In [12]:
a_grp.size()

Player
JR    13
KW    15
SS    15
VK    15
dtype: int64

In [13]:
def maker(df, index, col):
    if 0<= df[col].loc[index] < 100:
        return'0-100'
    elif 100<= df[col].loc[index] < 200:
        return'100-200'
    elif 200<= df[col].loc[index] < 300:
        return'200-300'
    elif 300<= df[col].loc[index] < 400:
        return'300-400'
    elif 400<= df[col].loc[index] < 500:
        return'400-500'
    elif 500<= df[col].loc[index] < 600:
        return'500-600'
    elif 600<= df[col].loc[index] < 700:
        return'600-700'
    elif 700<= df[col].loc[index] < 800:
        return'700-800'
    elif 800<= df[col].loc[index] < 900:
        return'800-900'
    elif 900<= df[col].loc[index] < 1000:
        return'900-1000'
    elif 1000<= df[col].loc[index] < 1500:
        return'1000-1500'
    elif 1500<= df[col].loc[index] < 2000:
        return'1500-2000'

    else:
        return('Not Out')
a_grp_2= df.groupby(lambda index: maker(df, index, "Runs"))
a_grp_2

In [14]:
a_grp_2.get_group("900-1000")

,Player,Year,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
20,JR,2017,11,19,0,966,190,50.84,1563,61.80,2,8,0,138,1
21,JR,2018,13,24,1,948,125,41.21,1782,53.19,2,6,2,92,3
32,KW,2014,9,17,2,929,192,61.93,1838,50.54,4,2,0,102,3
51,SS,2018,8,13,0,965,211,74.23,1715,56.26,3,4,0,111,6
55,SS,2022,13,24,2,929,121,42.22,1981,46.89,3,3,1,107,6

# Function to assign categories
def maker(value):
    if 0 <= value < 100:
        return "0-100"
    elif 100 <= value < 200:
        return "100-200"
    elif 200 <= value < 300:
        return "200-300"
    elif 300 <= value < 400:
        return "300-400"
    elif 400 <= value < 500:
        return "400-500"
    elif 500 <= value < 600:
        return "500-600"
    elif 600 <= value < 700:
        return "600-700"
    elif 700 <= value < 800:
        return "700-800"
    elif 800 <= value < 900:
        return "800-900"
    elif 900 <= value < 1000:
        return "900-1000"
    elif 1000 <= value < 1500:
        return "1000-1500"
    elif 1500 <= value < 2000:
        return "1500-2000"
    else:
        return "Not Out"

# Apply the function to create a new column
df["Category"] = df["Runs"].apply(maker)

# Group by Category
a_grp_3 = df.groupby("Category")

# Get players in "900-1000" range
print(a_grp_3.get_group("900-1000"))

In [15]:
for key, data in a_grp_2:
    print(f"Key: {key}\nData: {data}")

Key: 0-100
Data:    Player  Year  Mat  Inns  NO  Runs   HS    Ave   BF     SR  100  50  0  4s  \
14     VK  2025    1     2   0    23   17  11.50   81  28.39    0   0  0   1
15     JR  2012    1     2   1    93   73  93.00  285  32.63    0   1  0   5
44     SS  2011    1     2   1    72  54*  72.00  143  50.34    0   1  0   7
52     SS  2019    3     5   1    73   63  18.25  250  29.20    0   1  1   4

    6s
14   0
15   1
44   0
52   0
Key: 100-200
Data:    Player  Year  Mat  Inns  NO  Runs   HS    Ave   BF     SR  100  50  0  4s  \
9      VK  2020    3     6   0   116   74  19.33  283  40.98    0   1  0  15
43     SS  2010    4     8   0   187   77  23.37  313  59.74    0   1  0  20
57     SS  2024    2     3   0   178  141  59.33  317  56.15    1   0  0  16

    6s
9    0
43   2
57   3
Key: 1000-1500
Data:    Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
5      VK  2016   12    18   2  1215   235  75.93  2011  60.41    4   2  0
6      VK  2017   10    16   2  1059   243  75.64  1389  76.24    5   1  2
7      VK  2018   13    24   0  1322   153  55.08  2433  54.33    5   5  2
18     JR  2015   14    26   3  1385  182*  60.21  2174  63.70    3  10  1
19     JR  2016   17    32   2  1477   254  49.23  2433  60.70    3  10  1
25     JR  2022   15    27   3  1098   176  45.75  1722  63.76    5   2  3
33     KW  2015    8    16   3  1172  242*  90.15  1955  59.94    5   4  1
42     KW  2024    9    18   1  1013   156  59.58  1861  54.43    4   4  1
46     SS  2013    9    17   3  1146   192  81.85  1913  59.90    5   4  2
47     SS  2014   13    24   4  1474   215  73.70  2374  62.08    6   5  0
48     SS  2015   11    18   3  1079  165*  71.93  1837  58.73    4   5  1
49     SS  2016   11    20   3  1305   239  76.76  2573  50.71    6   3  0

     4s  6s
5   134   2
6    97   6
7   144   2
18  158  10
19  170   1
25  122   3
33  136   1
42  117   6
46  131   8
47  167   7
48  121   5
49  140   2
Key: 1500-2000
Data:    Player  Year  Mat  Inns  NO  Runs   HS    Ave    BF     SR  100  50  0  \
24     JR  2021   15    29   1  1708  228  61.00  3004  56.85    6   4  1
27     JR  2024   17    31   3  1556  262  55.57  2455  63.38    6   5  1

     4s  6s
24  179   3
27  147   2
Key: 200-300
Data:    Player  Year  Mat  Inns  NO  Runs    HS    Ave   BF     SR  100  50  0  4s  \
0      VK  2011    5     9   0   202    63  22.44  473  42.70    0   2  2  15
11     VK  2022    6    11   1   265    79  26.50  672  39.43    0   1  0  33
28     KW  2010    3     5   0   212   131  42.40  485  43.71    1   1  1  19
29     KW  2011    5    10   0   276    68  27.60  569  48.50    0   2  1  32
40     KW  2022    3     5   1   296  200*  74.00  630  46.98    1   0  0  36
50     SS  2017    4     7   0   225    83  32.14  468  48.07    0   2  0  24

    6s
0    2
11   1
28   0
29   1
40   1
50   2
Key: 300-400
Data:    Player  Year  Mat  Inns  NO  Runs   HS    Ave   BF     SR  100  50  0  4s  \
39     KW  2021    4     7   1   395  238  65.83  858  46.03    1   1  0  49

    6s
39   0
Key: 400-500
Data:    Player  Year  Mat  Inns  NO  Runs    HS    Ave   BF     SR  100  50  0  4s  \
13     VK  2024   10    19   2   417  100*  24.52  673  61.96    1   1  1  43
23     JR  2020    8    13   2   464   68*  42.18  822  56.44    0   4  0  49
38     KW  2020    4     6   0   498   251  83.00  911  54.66    2   1  0  60
53     SS  2020    5     8   0   430   131  53.75  826  52.05    1   3  0  52
56     SS  2023    9    17   3   490   140  35.00  915  53.55    2   1  2  52

    6s
13   5
23   2
38   3
53   2
56   4
Key: 500-600
Data:    Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
10     VK  2021   11    19   0   536    72  28.21  1216  44.07    0   4  4
30     KW  2012   10    18   1   559   135  32.88  1474  37.92    2   2  3
35     KW  2017    7    10   1   566   176  62.88   859  65.89    3   2  0
37     KW  2019    8    12   2   514  200*  51.40   858  59.90    2   2  2

    4s  6s
10  60   1
30  51   0
35  70   3
37  60   1
Key: 600-700
Data:    Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
1      VK  2012    9    16   2   689   116  49.21  1474  46.74    3   3  0
2      VK  2013    8    12   1   616   119  56.00  1127  54.65    2   3  0
4      VK  2015    9    15   0   640   147  42.66  1184  54.05    2   2  0
8      VK  2019    8    11   2   612  254*  68.00   967  63.28    2   2  2
12     VK  2023    8    12   0   671   186  55.91  1226  54.73    2   2  0
36     KW  2018    7    12   1   651   139  59.18  1195  54.47    2   3  1
41     KW  2023    7    13   1   695   215  57.91  1279  54.33    4   0  1

    4s  6s
1   89   2
2   73   2
4   74   1
8   78   3
12  70   1
36  61   1
41  75   3
Key: 700-800
Data:    Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
17     JR  2014    7    11   3   777  200*  97.12  1339  58.02    3   3  0
26     JR  2023    8    14   2   787  153*  65.58  1031  76.33    2   5  0
31     KW  2013   11    19   1   747   114  41.50  1731  43.15    1   7  0
34     KW  2016   10    18   2   753   113  47.06  1410  53.40    1   6  0
45     SS  2012   11    21   2   711  138*  37.42  1550  45.87    2   3  1

    4s  6s
17  80   1
26  68  15
31  86   2
34  77   2
45  74  10
Key: 800-900
Data:    Player  Year  Mat  Inns  NO  Runs    HS    Ave    BF     SR  100  50  0  \
3      VK  2014   10    20   1   847   169  44.57  1399  60.54    4   2  2
16     JR  2013   14    27   2   862   180  34.48  2121  40.64    2   3  1
22     JR  2019   12    23   0   851   226  37.00  1837  46.32    2   4  3
54     SS  2021   11    18   3   876  200*  58.40  1747  50.14    2   5  3

     4s  6s
3   101   2
16   94   2
22   92   1
54   80   3
Key: 900-1000
Data:    Player  Year  Mat  Inns  NO  Runs   HS    Ave    BF     SR  100  50  0  \
20     JR  2017   11    19   0   966  190  50.84  1563  61.80    2   8  0
21     JR  2018   13    24   1   948  125  41.21  1782  53.19    2   6  2
32     KW  2014    9    17   2   929  192  61.93  1838  50.54    4   2  0
51     SS  2018    8    13   0   965  211  74.23  1715  56.26    3   4  0
55     SS  2022   13    24   2   929  121  42.22  1981  46.89    3   3  1

     4s  6s
20  138   1
21   92   3
32  102   3
51  111   6
55  107   6